@import "../../App.scss";

.main-div-says-about-us{
    margin-top:100px !important;
    width: 100%;
}
@media  (max-width: 1500px) {
    .main-div-says-about-us{
        margin-top:150px !important;
    }
  }
@media screen and (min-width: 1400px) and (min-width: 1001px)  {
    .main-div-says-about-us{
        margin-top: 4em !important;
    }
}
@media (max-width: 1000px) and (min-width: 301px)  {
    .main-div-says-about-us{
        margin-top: 6em !important;
    }
}
@media screen and (max-width: 300px) {
    .main-div-says-about-us{
        margin-top: 8em !important;
    }
}
.quoete-card-slider{
        padding-right: 10px !important;
        width: 100% !important;
        display: flex;flex-wrap: nowrap;
        align-items: center !important;
        justify-content: center !important;
        overflow-y: hidden !important;
    overflow-x: auto !important;
    margin-bottom: 2em !important;
    }
    @media  (max-width:770px) {
        .icons-slider{
            padding-right: 300px !important;
    }
    .quoete-card{
        width: 300px !important;height:200px !important;
    }
    }
    @media  (max-width:480px) {
        .icons-slider{
            padding-right: 350px !important;
    }
    .quoete-card{
        width: 300px !important;height:200px !important;
    }
    }
    .quoete-card-slider::-webkit-scrollbar-track
    {
        background-color: transparent !important;
    }
    
    .quoete-card-slider::-webkit-scrollbar
    {
        width: 3px;
        background-color: transparent !important;
    }
    
    .quoete-card-slider::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }

.quoete-card{
margin: 0.5em 1em !important;
padding: 1em !important;
background-color: $basic-clr-sec;
display: flex;
flex-direction: column;
width: 300px !important;height:200px !important;
border-radius: $basic-border-radius;
img{
    width: 20px !important;height: 20px !important;
}
}

.quoete-card-img1{
display: flex;justify-content: flex-end !important;
}
.quoete-card-text{
color:black !important;
text-align: right;
}
.quoete-card-img2{
display: flex;justify-content: flex-end !important;
}