@import "../../App.scss";

.main-div-says-about-us{
    margin-top:300px !important;
    margin-bottom: 50px;
    width: 100%;
}

.quoete-card-slider{
    padding-right: 10px !important;
    width: 100% !important;
    display: flex;flex-wrap: nowrap;
    align-items: center !important;
    justify-content: center !important;
    overflow-y: hidden !important;
overflow-x: auto !important;
}
@media  (max-width:980px) {
    .quoete-card-slider{
        padding-right: 200px !important;
}
}
@media  (max-width:770px) {
    .quoete-card-slider{
        padding-right:300px !important;
}
}
@media  (max-width:550px) {
    .quoete-card-slider{
        padding-right: 350px !important;
}
}
@media  (max-width:501px) {
    .quoete-card-slider{
        padding-right: 450px !important;
}
}
.quoete-card-slider::-webkit-scrollbar-track
{
	background-color: transparent !important;
}

.quoete-card-slider::-webkit-scrollbar
{
	width: 3px;
	background-color: transparent !important;
}

.quoete-card-slider::-webkit-scrollbar-thumb
{
	background-color: transparent !important;
}

.quoete-card{
margin: 0.5em 1em !important;
padding: 1em !important;
background-color: $basic-clr-sec;
display: flex;
flex-direction: column;
min-width: 250px !important;height:150px !important;
border-radius: $basic-border-radius;
img{
    width: 20px !important;height: 20px !important;
}
}

.quoete-card-img1{
display: flex;justify-content: flex-end !important;
}
.quoete-card-text{
color:black !important;
text-align: right;
}
.quoete-card-img2{
display: flex;justify-content: flex-end !important;
}