@import "../../App.scss";
.lessons-section{
margin-top: 1em !important;
}
.lesson-div{
    // flex-wrap: nowrap;
overflow-x: auto !important;
}
.upper-div{
    display: flex;flex-direction: row !important;
    justify-content: space-between !important;

    input{
        border-top-right-radius: $basic-border-radius !important;
        border-bottom-right-radius: $basic-border-radius !important;
    }
    .input-group-text{
        border-top-left-radius: $basic-border-radius !important;
        border-bottom-left-radius: $basic-border-radius !important;
        background-color: $basic-clr;
        color:  $light-dark !important;
    }
}

.view-more-lessons{
    width: 100%;
    text-align: left !important;
    color: $basic-clr;
    font-weight: bolder;
    text-decoration: underline;
}