@import "../../App.scss";

.lesson-div{
    padding-right: 10px !important;
    width: 100% !important;
    display: flex;flex-wrap: nowrap;
    align-items: center !important;
    justify-content: center !important;
    overflow-y: hidden !important;
overflow-x: auto !important;
}
@media  (max-width:770px) {
    .lesson-div{
        padding-right: 50px !important;
}
}
@media  (max-width:480px) {
    .lesson-div{
        padding-right: 30px !important;
}
}
.lesson-div::-webkit-scrollbar-track
{
	background-color: transparent !important;
}

.lesson-div::-webkit-scrollbar
{
	width: 3px;
	background-color: transparent !important;
}

.lesson-div::-webkit-scrollbar-thumb
{
	background-color: transparent !important;
}

.upper-div{
    display: flex;flex-direction: row !important;
    justify-content: space-between !important;

    input{
        border-top-right-radius: $basic-border-radius !important;
        border-bottom-right-radius: $basic-border-radius !important;
    }
    .input-group-text{
        border-top-left-radius: $basic-border-radius !important;
        border-bottom-left-radius: $basic-border-radius !important;
        background-color: $basic-clr;
        color:  $light-dark !important;
    }
}

.view-more-lessons{
    width: 100%;
    text-align: left !important;
    color: $basic-clr;
    font-weight: bolder;
    text-decoration: underline;
}