@import "../../App.scss";
.lessons-section{

}
.lesson-div{
    display: flex;flex-direction: row;
}
.upper-div{
    display: flex;flex-direction: row !important;
    justify-content: space-between !important;

    input{
        border-top-right-radius: $basic-border-radius !important;
        border-bottom-right-radius: $basic-border-radius !important;
    }
    .input-group-text{
        border-top-left-radius: $basic-border-radius !important;
        border-bottom-left-radius: $basic-border-radius !important;
        background-color: $basic-clr;
        color:  $light-dark !important;
    }
}