@import "../../App.scss";
// .lessons-section{
// }
.lesson-div{
margin-bottom: 2em !important;
overflow-x: auto !important;
}
@media  (max-width:770px) {
    .lesson-div{
        padding-right: 200px !important;
}
}
@media  (max-width:490px) {
    .lesson-div{
        padding-right: 380px !important;
}
}
.upper-div{
    display: flex;flex-direction: row !important;
    justify-content: space-between !important;

    input{
        border-top-right-radius: $basic-border-radius !important;
        border-bottom-right-radius: $basic-border-radius !important;
    }
    .input-group-text{
        border-top-left-radius: $basic-border-radius !important;
        border-bottom-left-radius: $basic-border-radius !important;
        background-color: $basic-clr;
        color:  $light-dark !important;
    }
}

.view-more-lessons{
    width: 100%;
    text-align: left !important;
    color: $basic-clr;
    font-weight: bolder;
    text-decoration: underline;
}