@import "../../App.scss";

nav{
    border-bottom-right-radius: $basic-border-radius;
    border-bottom-left-radius: $basic-border-radius;
    background-color: $basic-clr !important;
    color: white !important;
    font-weight: 600 !important;
    
    .nav-item{
       margin-right: 1em !important;
       display: flex !important;
       flex-direction: column !important;
       justify-content: flex-end !important;align-items: baseline !important;
    }
.nav-item-text-link{
    .active{
        color: $dark-clr;
        border-bottom: 1px solid $dark-clr;
        border-top: 1px solid $dark-clr;
     }
}
    a{
        color: white !important;
    }

}
.logo-img{
    width: 40px;
}
.profile-navbar-img{
    width: 45px !important;height: 45px !important;
   justify-self: flex-start !important;
}
// .list-item-dropdown{
//     text-align: right !important;color:$basic-clr !important;
//     text-decoration: none !important;
//     list-style: none !important;
// }
.none-decoration-navlink{
    background-color:transparent !important;border: none !important;
    text-align: right !important;color:$basic-clr !important;
    text-decoration: none !important;
    list-style: none !important;
   
}
.dropdown-basic-item{
  height: 50px !important;
  align-content: flex-start !important;
}
.navbar-fav-star-icon{
    width: 45px !important;height: 45px !important;
    padding: 5px !important;
    justify-self: flex-end !important;
    border-bottom: none !important;
    border-top: none !important;
}