@import "../../App.scss";

nav{
    border-bottom-right-radius: $basic-border-radius;
    border-bottom-left-radius: $basic-border-radius;
    background-color: $basic-clr !important;
    color: white !important;
    font-weight: 600 !important;
    
    .nav-item{
       margin-right: 1em !important;
       display: flex !important;
       flex-direction: column !important;
       justify-content: flex-end !important;align-items: baseline !important;
    }
.nav-item-text-link{
    .active{
        color: $dark-clr;
        border-bottom: 1px solid $dark-clr;
        border-top: 1px solid $dark-clr;
     }
}
    a{
        color: white !important;
    }

}
.logo-img{
    width: 40px;
    margin-top: 5px !important; margin-bottom: 5px !important;
}
.profile-navbar-img{
    width: 45px !important;height: 45px !important;
   justify-self: flex-start !important;
}

.none-decoration-navlink{
    background-color:transparent !important;border: none !important;
    text-align: right !important;color:$basic-clr !important;
    text-decoration: none !important;
    list-style: none !important;
   
}
.dropdown-basic-item{
  height: 50px !important;
  align-content: flex-start !important;
}
.navbar-fav-star-icon{
    width: 45px !important;height: 45px !important;
    padding: 5px !important;
    justify-self: flex-end !important;
    border-bottom: none !important;
    border-top: none !important;
}

  @media (max-width: 991px) {
    .theListToHide{
        display: none !important;
    }
    .none-decoration-navlink{
        color: white !important;
        font-weight: semi-bold !important;
    }
    .hiddenListItemToShowOnCollapse{
       display: block !important;
    }
  }

  @media (min-width: 992px) {
    .theListToHide{
        display: flex !important;
        flex-direction: row !important;
    }    
    .hiddenListItemToShowOnCollapse{
       display: none !important;
    }
  }

  @media (max-width: 991.98px) {
    .logo-img{
        width: 70px;
    }
    .navbar-collapse {
      position: fixed;
      top: 51.5px;
      right: calc(var(--bs-gutter-x) * .5) !important;
      min-width:45vw;height: 100vh;
      overflow-y: auto;
      background-color: $basic-clr !important;
      transition: right 0.3s ease-in-out;
    }
    .navbar-collapse.show {
      right: calc(var(--bs-gutter-x) * .5);
    }
  }
  
@media (min-width: 991.98px) {
  .shesmoClass{
    position: absolute;
    left: 20px !important;
  }
}