@import "../../App.scss";

nav{
    border-bottom-right-radius: $basic-border-radius;
    border-bottom-left-radius: $basic-border-radius;
    background-color: $basic-clr !important;
    align-items: center !important;
    color: white !important;
    font-weight: 600 !important;
    
    .nav-item{
       margin-right: 1em !important;
    }
    a{
        color: white !important;
    }

    .active{
       color: $dark-clr !important;
       border-bottom: 1px solid $dark-clr;
       border-top: 1px solid $dark-clr;
    }

    .navig-btn{
        background-color: rgba(0, 0, 0, 0.625);
        border-radius: $basic-border-radius;
        padding: 0.5em 1em !important;
    }
}
