@import "../../App.scss";

.register-img{
width: 150px;height: 150px;
}
.tab-pane{
    border-left:1px solid $basic-clr !important;
    border-right:1px solid $basic-clr !important;
    border-bottom:1px solid $basic-clr !important;

}
.nav-item{
   .active{
            background-color: $basic-clr !important;
            color:white !important;
    }
}
Form{
    padding: 1px !important;
    display: flex;flex-direction: column;align-items: center !important;
    text-align: center !important;

    .form-controll{
       background-color: #c37aff73 !important;
       color: $dark-clr !important; 
       width: 50vw !important;
    }

    .register-btn{
        width: 50vw !important;
        background-color: $basic-clr-sec !important;
        color: $dark-clr !important;
        font-weight: bolder !important;
        border: none !important;
    }
    .short-input{
        width: 25vw !important;
    }
    .names-div{
      display: flex;flex-direction: row;gap:5px;
    }
}

.hidden{
    display: none !important;
}