@import "../../App.scss";

.intro-parag{
    font-size: 1.5em;
}

@media  (min-width: 1000px) {
    .intro-parag{
        font-size: 1.2em;
    }
  }

@media  (min-width: 991px) {
    .intro-parag{
        font-size: 1em;
    }
  }

@media  (min-width: 800px) and (max-width:991px) {
    .intro-parag{
        font-size: 0.85em;
    }
  }

@media screen and (max-width: 799px) {
    .intro-parag{
        font-size: 0.8em;
    }
  }

  @media screen and (max-width: 442px) {
    .intro-parag{
        font-size: 0.6em;
    }
    .title-text{
        font-size: 14pt !important;
    } 
    .title-bar{
        height: 2em !important;  width: 0.3em;
    }
  }

.fullScreenSection{
    border-radius: $basic-border-radius;
    padding:$basic-padding !important;
    text-align: right !important;
    display: flex;
    align-items: center !important;
    justify-content:  flex-start !important;
    background: linear-gradient(0deg, rgba(253, 252, 253, 0.565), rgba(253, 231, 244, 0.574)),
    url("https://images.unsplash.com/photo-1584697964328-b1e7f63dca95?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
    background-repeat: no-repeat !important;
    background-size: 100%;
    background-color: #cccccc;
}
