@import "../../App.scss";
.lessons-div-lessons {
  display: flex;
  flex-direction: row;
}
.my-lessons-upper-left-div {
  display: flex;
  align-content: center !important;
  gap: 5px;
}
.add-lesson-btn {
  min-width: fit-content !important;
  height: fit-content !important;
  padding: 0.3em !important;
  border-radius: $basic-border-radius !important;
  font-weight: semi-bold !important;
  border: none !important;
  background-color: $basic-clr !important;
  color: white !important;
}
.input-group2 {
  height: 20px !important;
}
@media screen and (max-width: 1000px) {
  .upper-div {
    gap: 20px !important;
    flex-direction: column !important;
  }
  .my-lessons-upper-left-div {
    flex-direction: column !important;
  }
  .lessons-div-lessons {
    flex-direction: row !important;
    overflow-x: scroll;
    overflow-y: hidden;
  }
}

.modal-text-title {
  font-weight: bolder !important;
}
.add-lesson-inputs {
  width: 20rem !important;
  background-color: #c780fa84 !important;
  border-color: none !important;
  color: black !important;
}
.add-lesson-inputs::placeholder {
  color: black !important;
  font-weight: semi-bold !important ;
}

.add-lesson-inputs option {
  direction: rtl !important;
}

.hour-input{
  width: 150px; 
  display: inline-block;
}
.hour-input input{
  width: 50px; /* Set the width of the textboxes */
  padding: 5px; /* Add some padding to the textboxes */
  border: 1px solid #ccc; /* Add a border to the textboxes */
  border-radius: 4px; /* Add some border radius to the textboxes */
}

.fadeha-text{
   width: 100%;
   text-align: center;
   margin: 2rem auto;
   font-size: 20px !important;
  }
  .text-div{
    padding-right: 5px !important;
    text-align: right !important;
    font-size: 20px !important;
  }