@import "../../App.scss";
.why-to-learn{
    border-radius: $basic-border-radius;
    margin-bottom: 5em !important;
}

.iconcomp{
    margin: 0.5em 1em !important;
    padding: 1em !important;
    display: flex;
    flex-direction: column;
    width: 220px !important;
    border-radius: $basic-border-radius;
    font-weight: bolder;
    align-items: center !important;
     
    img{
        width: 5.5em !important;
    }
   &:hover{
        transform: scaleY(1.1);
    }
}

.icons-slider{
    padding-right: 10px !important;
    width: 100% !important;
    display: flex;flex-wrap: nowrap;
    align-items: center !important;
    justify-content: center !important;
    overflow-y: hidden !important;
overflow-x: auto !important;
margin-bottom: 2em !important;
}
@media  (max-width:770px) {
    .icons-slider{
        padding-right: 200px !important;
}
}
@media  (max-width:480px) {
    .icons-slider{
        padding-right: 380px !important;
}
}
.icons-slider::-webkit-scrollbar-track
{
	background-color: transparent !important;
}

.icons-slider::-webkit-scrollbar
{
	width: 3px;
	background-color: transparent !important;
}

.icons-slider::-webkit-scrollbar-thumb
{
	background-color: transparent !important;
}


