@import "../../App.scss";
.why-to-learn{
    border-radius: $basic-border-radius;
}

.iconcomp{
    padding: 1em !important;
    display: flex;
    flex-direction: column;
    width: 220px !important;
    border-radius: $basic-border-radius;
    font-weight: bolder;
    align-items: center !important;
     
    img{
        width: 5.5em !important;
    }
   &:hover{
        transform: scaleY(1.1);
    }

}

.icons-slider{
    padding-bottom: 2em !important;
    width: 100% !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    overflow-y: hidden !important;
overflow-x: auto !important;
}

.icons-slider::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.icons-slider::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

.icons-slider::-webkit-scrollbar-thumb
{
	background-color: $basic-clr !important;
}


