@import "../../App.scss";
@mixin changeFontSize {
  font-size: 0.5em !important;
}
@mixin staticCardStyling {
  width: 220px !important;
  height: 350px !important;
  background-color: $light-dark !important;
  margin: 0.5em 0.5em !important;
  border-radius: $basic-border-radius;
  font-size: 1em !important;
}
@mixin star-section-mixin {
  padding: 1.2em;
  width: 100%;
  height: 5% !important;
  border-radius: $basic-border-radius;
  background-color: $dark-clr;
  margin-top: 0 !important;
  display: flex;
  justify-content: end;
}
.lesson-card {
  @include staticCardStyling;
}
.lesson-card2 {
  @include staticCardStyling;
}
.my-lesson-card{
    @include staticCardStyling;
    margin-bottom: 10px !important;
}
@media screen and (max-width: 1000px) {
    .lesson-card {
        display: block !important;
        
    }
  .lesson-card2 {
    display: none !important;
  }
  .section-1{
    p{
        font-size: 10pt;
    }}
    .section-2{
        p{
            span{
                font-size: 10pt;
            }
        }
  }
  .section-3{
    div{
        p{
            span{
                font-size: 10pt;
            }
        }
    }
    button{
        font-size: 10pt;
    }
}
}

.star-section {
  @include star-section-mixin;
  cursor: pointer;
  img {
    width: 2em;
    height: 2em;
  }
}
.teacher-btns-div-img {
  width: 20px !important;
  height: 20px !important;
}

.teacher-btns-div {
  @include star-section-mixin;
  flex-direction: row;
  gap: 0.5em;
  background-color: $dark-clr !important;
  padding-bottom: 50px;
}
.section-1 {
  height: 35%;
  width: 100%;
  margin-top: -10% !important;
  background-color: $dark-clr;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .card-img-container {
    width: 6em;
    height: 6em;
    background-color: $basic-clr ;
    border-radius: 50%;
    object-fit: cover;
    display: flex;
    justify-content: center !important;
    align-items: center !important;

    img{
      width: 7.5rem !important;
      height: 7rem !important;
    }
  }
  .teacher-name {
    color: $light-dark;
    font-weight: bolder;
  }
}
.section-2 {
  height: fit-content !important;
  width: 100%;
  padding-top: 1em;
  padding-right: 1em;
  background-color: $light-dark;
  display: flex;
  flex-direction: column;
  text-align: right !important;
  border-bottom: 1px solid $dark-clr;
  p {
    line-height: 0.7em;
    font-weight: bold;
  }
}
@mixin lesson-card-btn{
    width: 45%;
    height: fit-content !important;
    padding: 0.3em !important;
    border-radius: $basic-border-radius;
    font-weight: bold;
    border: none;
}
.section-3 {
  height: fit-content !important;
  width: 100%;
  border-bottom-left-radius: $basic-border-radius;
  border-bottom-right-radius: $basic-border-radius;
  background-color: $light-dark;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  // align-items: center;
  padding: 1em !important;
  text-align: right !important;
  p {
    span {
      line-height: 0.7em;
      font-weight: bold;
    }
  }
  .sign-up-lesson-btn {
@include lesson-card-btn;
    background-color: $basic-clr;
    color: white !important;
  }
}
.enter-lesson-btn{
    @include lesson-card-btn;
    background-color: $basic-clr-sec;
    color: $dark-clr;

    text-decoration: none !important;
    text-align: center !important;
}

.spinnerName{
  width: 100% !important;
  display: flex;align-items: center;justify-content: center !important;
}