@import "../../App.scss";
.title-styling{
display: flex;
flex-direction: row;
height: fit-content !important;
gap: 0.3em !important;
// margin-bottom: -0.5em !important;
}
.title-bar{
background-color: $basic-clr;
width: 0.5em;
height: 2.5em !important
}
.title-text{
font-weight: 700;align-self: flex-end !important;
}