@import "../../App.scss";

.home-page-footer{
background-color: $basic-clr !important;
color: white !important;
border-top-right-radius: $basic-border-radius;
border-top-left-radius: $basic-border-radius;
}