@import "~bootstrap/scss/bootstrap";

// the variables
$basic-clr: #C780FA;
$basic-clr-sec: #B3FA80;
$dark-clr: #272C33;
$mid-dark-clr: #3F4652;
$light-dark:#EBECED;
$basic-padding:2em;
$basic-border-radius: 0.5em;
$font-family: "Assistant";

.home-page-main-class{
  display: flex;flex-direction: column;
  gap: 3em !important;
}
.App {
  text-align: center;
  font-family: $font-family;
}

.large-section{
  height: 30vh !important;
}

.mini-large-section{
  height: 10vh !important;
}

.full-height-section{
  height: 37vh !important;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinnerName{
  width: 100% !important;
  display: flex;align-items: center;justify-content: center !important;
}

@media screen and (min-width: 1000px) {
  .input-group-search {
      width:40% !important;
  }
}

@media screen and (max-width: 980px) {
  .input-group-search {
      width:70% !important;
  }
}

.lessons-div-lessons-page, .lessons-div-lessons{
  display: grid;
  grid-template-columns:repeat(4, 1fr);
  column-gap: 5px !important;
  grid-auto-rows:auto;
}
@media screen and (max-width: 999px) {
  .lessons-div-lessons,.lessons-div-lessons-page {
    display: flex;
    flex-direction: row !important;
    flex-wrap: wrap !important;
  }
}

@media screen and (max-width: 992px) {
    .navig-btn, .nav-link{
      background-color: transparent !important;padding: 0 !important; font-weight: bold;
    }
}

.navig-btn{
  background-color: rgba(0, 0, 0, 0.625);
  border-radius: $basic-border-radius;
  text-align: right !important;

 &:hover{
      color: $dark-clr;
      background-color: $basic-clr-sec !important;
   }
   .active{
  color: $dark-clr !important;
  background-color: $basic-clr-sec !important;
}
}

